OPENAI_API_KEY=your_openai_api_key_here

APP_NAME=AI YouTube Knowledge Summarizer
ENVIRONMENT=local
DEBUG=true

API_HOST=0.0.0.0
API_PORT=8000

OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_TEMPERATURE=0.0

WHISPER_MODEL=base
WHISPER_DEVICE=cpu

VECTOR_STORE_PROVIDER=chroma

CHUNK_SIZE=1000
CHUNK_OVERLAP=100
RETRIEVER_TOP_K=4

LOG_LEVEL=INFO
LOG_TO_STDOUT=true
LOG_TO_FILE=true
